<!DOCTYPE html>
<html lang="en" itemscope>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="IDA is a non-profit organization that spreads awareness on various disease and find the probability of you getting that disease" />
    <meta name="keywords" content="IDA, Intelligent Disease Awareness, medical, organization, institution, club, community" />
    <meta name="robots" content="all" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="IDA - Intelligent Disease Awareness" />
    <meta property="og:image" content="/assets/images/preview.png" />
    <meta property="og:description" content="IDA is a non-profit organization that spreads awareness on various disease and find the probability of you getting that disease" />
    <meta itemprop="name" content="IDA" />
    <meta itemprop="description" content="IDA is a non-profit organization that spreads awareness on various disease and find the probability of you getting that disease" />
    <meta itemprop="image" content="/assets/images/preview.png" />

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/images/icons/manifest.json">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico"> -->

    <script src="js/custom.js"></script>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css?nocache" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Oswald:300,400|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <link rel="stylesheet" href="css/style-about.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <title>IDA - Intelligent Disease Awareness</title>

</head>

<body >
    <div id="sideNav" class="sidenav">
        <div class="logo-full">
            <img src="assets/img/logo-full.png"></img>
        </div>
        <a href="/">Home<span>Go back to home</span></a>
        <a href="/predict">Predict<span>Predict your chances</span></a>
        <a href="#">Awareness<span>Learn more about Diseases</span></a>
        <a href="/about">The Team<span>The people who make it possible</span></a>
        <a href="#">Contact<span>Send us a message!</span></a>
    </div>
    <div class="video-wrap">
        <!-- <div class="video-overlay2"></div>    -->
        <video id="bgvid" class="bgvid" poster="assets/img/poster.jpg" playbackRate="0.5" autoplay loop>
      <source src="assets/video/strand.mp4" type="video/mp4">
      <!-- <source src="assets/video/background-video.webm" type="video/webm"> -->
    </video>
    </div>


<div id="main">
    <div class="header-about">
        <div class="hamburger">
            <span onclick="toggleNav()">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </span>

            <div class="team-title center-align">
              MEET THE TEAM
            </div>
        </div>

    </div>

    <div class="about-allwrap" id="about-allwrap">

      <div class="scroll">
          <div class="about-item">
              <div class="circular1 animate" id="circular1"></div>
              <p class="p1" id="p1">Dr. Rohin Gopalakrishnan M.B.B.S, M.D<span class="para">He is one of the most prominent doctors in India and is the brains of the entire operation</span></p>
          </div>
          <div class="about-item">
              <div class="circular2 animate" id="circular2"></div>
              <p class="p1" id="p2">Dr. Rohit Raghavan M.B.B.S, M.D<span class="para">He is one of the most prominent doctors in India and is the brains of the entire operation</span></p>
          </div>
          <div class="about-item">
              <div class="circular3 animate" id="circular3"></div>
              <p class="p1" id="p3">Dr. Sanjay Krishnan M.B.B.S, M.D<span class="para">He is one of the most prominent doctors in India and is the brains of the entire operation</span></p>
          </div>
      </div>

      <div class="about-info"> Hover over the people for more information! </div>

      </div>

      </div>
  </div>


</body>

</html>
