<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor's Portal</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>-->

    <script>

			function func(e){



                var i = e.id;
                var res =  i.split("#");


                $.post("/checkin", {email: res[2]});



                document.getElementById("p1").innerHTML = "Name: " + res[1];
                document.getElementById("p2").innerHTML = "Email: " + res[2];
                document.getElementById("p3").innerHTML = "Date: " + res[0];
                document.getElementById("name").value = res[1];
                document.getElementById("email").value = res[2];
                document.getElementById("date").value = res[0];
				document.getElementById(e.id).value = "Loading...";



				setTimeout(function(){
				document.getElementById(e.id).value = "      \u2713      ";
				},1000);

			};


		</script>


    <link href="css/style-portal.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Oswald:300,400|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">





</head>



<body>

    <div id="sideNav" class="sidenav">
        <div class="logo-full">
            <img src="assets/img/logo-full.png"></img>
        </div>
        <a href="/">Home<span>Go back to home</span></a>
        <a href="/predict">Predict<span>Predict your chances</span></a>
        <a href="#">Doctor's Portal<span>Enter Patient Data</span></a>
        <a href="#">Awareness<span>Learn more about Diseases</span></a>
        <a href="/gallery">Gallery</a>
        <a href="/about">The Team<span>The people who make it possible</span></a>
        <!--<a href="#">Contact<span>Send us a message!</span></a>-->
    </div>
    <div class="background bg">

    </div>






<div id = "main">

    <div class="contentwrap">
        <div class="header">
            <div class="hamburger">
                <span onclick="toggleNav()">
                  <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
              </span>
            </div>
        </div>
        <div id="title-flex" class="title-flex">
            <h1 style = "align-items: flex-start; margin-left: 20px; margin-top: 20px;">Doctor's Portal</h1>
            <div id = "table-div" style="transform:translateX(-200px);">
            <table class="table-fill" width="100%">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th colspan="2">Checked in</th>

                </tr>
              </thead>
              <tbody class="table-hover">

                {% for w, x, y, z in cur %}
                    <tr >

                        <td class="text-left">{{ w }} </td>
                        <td class="text-left">{{ x }}</td>
                        <td class="text-left">{{ y }}</td>
                        <td class="text-left">{{ z }}</td>
                        {% if z == 0 %}
                            <td class="text-left blue">

                                <a href="#notify" class = "notify-popup"> <input type = "button" class="progress-button" data-style="fill" data-horizontal value = " Check in "  id = "{{ w }}#{{ x }}#{{ y }}" onClick = "func(this)" >

                                </input></a>

                            </td>
                        {% else %}
                            <td class="text-left blue">


                            </td>

                        {% endif %}
                    </tr>



            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>





	<!-- Start Preloader -->
	<div id="page-preloader">
		<span class="spinner"><img src="assets/images/preloader.svg" width="50" alt="load..."></span>
	</div>
	<!-- End Preloader -->



<!-- Start Notify Popup -->
<div id="notify" class="newsletter mfp-hide">
    <div id = "notify-wrapper">
    <!-- Start Notify Popup Header Image -->
    <div class="notify-img">
    </div>
    <!-- End Notify Popup Header Image -->

    <div class="notify-text">

        <h3>Enter Patient Data</h3>

        <!-- Start Notify Form -->
        <form id="form-notify1" class="feedback" action="/predictrisk" method = "post">
            <div class="field-group">
                <p align="left" id = "p1"></p>
                <p align="left" id = "p3"></p>
                <p align="left" id = "p2"></p>

                <input id="name" class="field-name" type="text" name="name" placeholder="Enter your name" style="display:none;">
                <input id="email" class="field-email" type="email" name="email" placeholder="Enter your email" style="display:none;">
                <input id="date" class="field-date" type="text" name="date" placeholder="Date" style="display:none;">
                <input id="age" class="field-age" type="text" name="age" placeholder="Age">
                <input id="sbp" class="field-sbp" type="text" name="sbp" placeholder="Systolic Blood Pressure">
                <input id="bmi" class="field-bmi" type="text" name="bmi" placeholder="Body Mass Index(BMI)">
                <input id="sbp" class="field-sbp" type="text" name="sbp" placeholder="Systolic Blood Pressure">
                <input id="pri" class="field-pri" type="text" name="pri" placeholder="PRI">

                <div class = "e">
                        <label style="width: 100%; margin-top: 10px">Heart attack:</label>
                        <div class="elt">

                        <input type="radio" name="ht" id="yes1" checked  value = "1" checked />
                        <input type="radio" name="ht" id="no1"  value = "0"/>
                        <div class="switch">

                            <label for="yes1">Yes</label>
                            <label for="no1">No</label>

                        <span></span>



                        </div>

                    </div>

                </div>

                <div class = "e">
                        <label style="width: 100%; margin-top: 10px">Smoking:</label>
                        <div class="elt">

                        <input type="radio" name="sm" id="yes2"  value = "1" checked />
                        <input type="radio" name="sm" id="no2"  value = "0"/>
                        <div class="switch">

                            <label for="yes2">Yes</label>
                            <label for="no2">No</label>

                        <span></span>



                        </div>

                    </div>

                </div>

                <div class = "e">
                        <label style="width: 100%; margin-top: 10px">Heart failure:</label>
                        <div class="elt">

                        <input type="radio" name="hf" id="yes3"  value = "1" checked />
                        <input type="radio" name="hf" id="no3"  value = "0"/>
                        <div class="switch">

                            <label for="yes3">Yes</label>
                            <label for="no3">No</label>

                        <span></span>



                        </div>

                    </div>

                </div>

            </div>
            <div class="form-error-message">
                Enter a valid email
            </div>
            <button id="submit1" type="submit" class="button-submit" onclick="checked()">Submit</button>
        </form>
        <!-- End Notify Form -->
    </div>
    </div> <!-- End .notify-text -->
    <h2 id="completed" style="display:none;">Thank you. Your patient will shortly recieve an email with your analysis. </h2>
</div> <!-- End .newsletter -->
<!-- End Notify Popup -->


</div>
<!-- Include JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/init.js"></script>
<script src="js/custom.js"></script>



</body>
</html>