
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>XHIBIT</title>

		<meta name="Keywords" content="xhibit" />
		<meta name="Description" content="The next big thing" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Favicon for Desktop, iOS and android -->
		<link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="assets/images/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon-180x180.png">

		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Oswald:300,400|Playfair+Display" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">


		<link href="css/magnific-popup.css" rel="stylesheet">
		<link href="css/nanoscroller.css" rel="stylesheet">
		<link href="css/style-predict2.css" rel="stylesheet">
		<link href="css/style-index.css" rel="stylesheet">

		<script src="js/modernizr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		<script src="js/custom-nav-predict.js"></script>


	</head>

<body>


	<div id="sideNav" class="sidenav">
			<div class="logo-full">
					<img src="assets/img/logo-full.png"></img>
			</div>
			<a href="/">Home<span>Go back to home</span></a>
			<a href="#">Predict<span>Predict your chances</span></a>
			<a href="/portal">Doctor's Portal<span>Enter Patient Data</span></a>
			<a href="/awareness">Awareness<span>Learn more about Diseases</span></a>
			<a href="/gallery">Gallery</a>
			<a href="/about">The Team<span>The people who make it possible</span></a>
			<!--<a href="#">Contact<span>Send us a message!</span></a>-->
	</div>



	<!-- Start Preloader -->
	<div id="page-preloader">
		<span class="spinner"><img src="assets/images/preloader.svg" width="50" alt="load..."></span>
	</div>
	<!-- End Preloader -->

	<!-- Start Content -->
	<div id="main" class="wrapper container-animation">

		<!-- Start Background -->
		<div class="background bg">

			<!-- Particles -->
			<div id="particles" class="particles"></div>

			<!-- Overlay -->
			<div class="bg-overlay"></div>




		</div>
		<!-- End Backgroung -->

		<section id="content-top" class="main-container-top">

			<div class="header">
					<div class="hamburger">
							<span onclick="toggleNav()">
								<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
						</span>
					</div>
			</div>

		</section>


		<!-- Start Main Content -->
		<section id="content" class="main-container">


			<div class="content1">
				<h1 class="header-text">
					Heart Disease Risk Prediction
				</h1>
				<!-- End Title -->

				<!-- Start Description -->
				<p class="sub-text">
				If you have your cardiological data with you enter it below, or book an appointment with our specialist. <br> Scroll Down for more information.

				</p>
				<!-- End Description -->
			</div>
		<p>TM</p>


<!--
			<div class="content-wrapper1">
				<div class="content2">
					<img src="assets/images/xhibit.png" class="logo">
				</div> -->


			</div>


			<!-- Start Title -->


		</section>


		<section id="content-buttons" class="main-container">


			<div class="data">
					<a href="#notify1" class="notify-popup btnfos btnfos-5" >
					I HAVE DATA
				</a>
				<!-- End Title -->
			</div>


				<div class="appoint">
				<a href="#notify2" class="notify-popup btnfos btnfos-5" >
					BOOK APPOINTMENT
				</a>

			</div>


			<!-- Start Title -->


		</section>




		<!-- End Main Content -->

	</div>
	<!-- End Content -->


	<!-- Start Footer -->
	<!-- <footer id="footer" class="footer">



		<div id="navigation" class="navigation">
			<div class="nav-btn">
				<a href="#notify" class=" notify-popup" title="Notify Me">Notify Me</a>
				<a href="#" id="more-btn" class="" title="Read More">Know More</a>
			</div>
		</div>




	</footer> -->
	<!-- End Footer -->

	<!-- Start Notify Popup -->
	<div id="notify1" class="newsletter mfp-hide">
        <div id = "notify-wrapper">
		<!-- Start Notify Popup Header Image -->
		<div class="notify-img">
		</div>
		<!-- End Notify Popup Header Image -->

		<div class="notify-text">

			<h3>Enter Your Details</h3>

			<!-- Start Notify Form -->
			<form id="form-notify1" class="feedback" >
				<div class="field-group">
					<input id="name" class="field-name" type="text" name="name" placeholder="Enter your name">
                    <input id="email" class="field-email" type="email" name="email" placeholder="Enter your email">
					<input id="age" class="field-age" type="text" name="age" placeholder="Enter your age">
					<input id="sbp" class="field-sbp" type="text" name="sbp" placeholder="Systolic Blood Pressure">
                    <input id="bmi" class="field-bmi" type="text" name="bmi" placeholder="Body Mass Index(BMI)">
                    <input id="sbp" class="field-sbp" type="text" name="sbp" placeholder="Systolic Blood Pressure">
                    <input id="pri" class="field-pri" type="text" name="pri" placeholder="PRI">

                    <div class = "e">
                            <label style="width: 100%; margin-top: 10px">Heart attack:</label>
                            <div class="elt">

                            <input type="radio" name="ht" id="yes1" value = "1" checked />
                            <input type="radio" name="ht" id="no1" value = "0"/>
                            <div class="switch">

                                <label for="yes1">Yes</label>
                                <label for="no1">No</label>

                            <span></span>



                            </div>

                        </div>

                    </div>

                    <div class = "e">
                            <label style="width: 100%; margin-top: 10px">Smoking:</label>
                            <div class="elt">

                            <input type="radio" name="sm" id="yes2" value = "1" checked />
                            <input type="radio" name="sm" id="no2" value = "0"/>
                            <div class="switch">

                                <label for="yes2">Yes</label>
                                <label for="no2">No</label>

                            <span></span>



                            </div>

                        </div>

                    </div>

                    <div class = "e">
                            <label style="width: 100%; margin-top: 10px">Heart failure:</label>
                            <div class="elt">

                            <input type="radio" name="hf" id="yes3" value = "1" checked />
                            <input type="radio" name="hf" id="no3" value = "0" />
                            <div class="switch">

                                <label for="yes3">Yes</label>
                                <label for="no3">No</label>

                            <span></span>



                            </div>

                        </div>

                    </div>

				</div>
<!--
				<div class="form-error-message">
					Enter a valid email
				</div>
-->
				<button id="submit1" type="submit" class="button-submit">Submit</button>
			</form>
            </div>
            </div>

        <h2 id="completed" style="display:none;">Thank you for the submission, you will shortly recieve an email with your analysis. </h2>
</div>
			<!-- End Notify Form -->



             <!-- Start Notify Popup2 -->
	<div id="notify2" class="newsletter mfp-hide">
        <h2 id="completed" style="display:none;">Thank you for the submission, you're appointment has been scheduled. </h2>
		<div id = "notify-wrapper">

		<!-- Start Notify Popup Header Image -->
		<div class="notify-img2">
		</div>
		<!-- End Notify Popup Header Image -->

		<div class="notify-text">

			<h3>Enter Your Data</h3>

			<!-- Start Notify Form -->
			<form id="form-notify2" class="feedback">
				<div class="field-group">
					<input id="name" class="field-name" type="text" name="name" placeholder="Enter your name">
                    <input id="email" class="field-email" type="email" name="email" placeholder="Enter your email">
                    <input id="date" class = "field-date" type="date" name = "date" placeholder="Enter appointment date">


				</div>

				<div class="form-error-message">
					All appointments are full, pick another day!
				</div>

				<button id="submit2" type="submit" class="button-submit">Submit</button>
			</form>
			<!-- End Notify Form -->

		</div> <!-- End .notify-text -->

	</div>
	</div><!-- End .newsletter -->
	<!-- End Notify Popup2 -->


		</div> <!-- End .notify-text -->

	</div> <!-- End .newsletter -->
	<!-- End Notify Popup -->

	<!-- Start Information Layer -->
	<div id="overlay" class="overlay overlay-contentscale nano">

		<div class="close-button">
			<button type="button" class="overlay-close"></button>
		</div>

		<div class="overlay-content nano-content">
			<div class="container info-content">

				<!-- Start About Us -->
				<section id="about" class="row info-block">

			  	<h2>About Us</h2>

		      <div class="col-md-12 about-block">
		      	<p>
		      		We are the IET student chapter. X-HIBIT is PES Univerity's flagship evebt, Lorem ipsum dolor sit amet. Placeat, facere possimus, omnis dolor. Alias consequatur aut officiis debitis aut odit. Eum iure reprehenderit, qui ratione voluptatem accusantium doloremque. Iusto odio dignissimos ducimus, qui dolorem ipsum. Deserunt mollitia animi, id est laborum et accusamus. Aut fugit, sed quia non provident similique. Obcaecati cupiditate non numquam eius modi tempora incidunt, ut aut odit. Illum, qui ratione voluptatem sequi nesciunt, neque porro quisquam est.
		      	</p>
				  </div>

			  </section>
			  <!-- End About Us -->

			  <!-- End What We Do -->

			  <!-- Start Feedback -->
				<section id="feedback" class="row info-block">
					<h2>Get In Touch</h2>

					<div class="col-lg-12 col-md-12 feedback-text">
						<p>If you have any queries, feel free to contact us. We will respond within 6 hours. </p>
					</div>

					<div class="col-lg-12 col-md-12 contacts">
						<ul>
							<li><strong>Phone:</strong> (+91) 8277025429</li>
							<li><strong>Email:</strong> iet@pes.edu</li>
							<li><strong>Address:</strong> PES University, 100 Feet Ring Road, Banashankari Stage III, Bengaluru, Karnataka 560085</li>
						</ul>
					</div>

					<a href="#notify" class="notify-popup" title="Notify Me">Notify Me</a>
				</section>
				<!-- End Feedback -->

			</div> <!-- End .overlay-content -->
		</div> <!-- End .info-content -->

	</div> <!-- End .overlay -->
	<!-- End Information Layer -->

<!-- Include JS -->
<script src="js/magnific-popup.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/nanoscroller.min.js"></script>
<script src="js/countdown.min.js"></script>
<script src="js/device.min.js"></script>
<script src="js/particles.min.js"></script>
<script src="js/init-particles.js"></script>
<script src="js/init.js"></script>

<!--[if lte IE 9]>
<script src="assets/js/placeholders.js"></script>
<script src="assets/js/init-for-ie.js"></script>
<![endif]-->


        <script>


        var datepicker = document.querySelector("#date").addEventListener('input', function (e) {
            var dt = document.querySelector("#date").value;

                $.ajax({
                url: '/check',
                type: 'POST',
                data : $('#form-notify2').serialize(),
                success: function (data) {
                if (data == "False") {
                    $(".form-error-message").addClass("error");
                } else {
                     $(".form-error-message").removeClass("error");
                }
            }
            });

        }, true);


        </script>



</body>
</html>
